body {
    background: linear-gradient(to right, #141e30, #243b55);
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 100px;
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

p {
    font-size: 1.5em;
    max-width: 600px;
    margin: auto;
}

button {
    background-color: #ff4757;
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #e03939;
    transform: scale(1.1);
}
